[(Link)](https://github.com/jakevdp/PythonDataScienceHandbook/blob/8a34a4f653bdbdc01415a94dc20d4e9b97438965/notebooks/03.01-Introducing-Pandas-Objects.ipynb)

In [1]:
import numpy as np
import pandas as pd

- pandas object are essentially enhanced numpy arrays
- pandas data structures:
    1. Series
    2. DataFrame
    3. Index

_____

**1. Series**

- Like a numpy array, except the index can be anything (e.g. timestamps, names, etc.)
    - **Note**: this is unlike a numpy array, whose index can only be an integer value

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

- As we will see, the Series uses a numpy array to store the index, and another to store the values

In [3]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

- Like a numpy array, we can access the values of the series via the index

In [5]:
data[3]

1.0

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

- Now, we'll show how the index of a Series can be whatever we want

In [7]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [8]:
data['c']

0.75

- One way to think of the Series is as a special dictionary

In [9]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

- But, as we'll see, the Series can do a lot more than a simple dictionary (e.g. slicing)

In [10]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

- There are several ways to construct a Series

E.g. 1: From a **list**

In [11]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

E.g. 2: From a **scalar**

In [12]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

E.g. 3: From a **dictionary**

In [13]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

E.g. 4: From a **dictionary, defining a subset of the index**

In [14]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

____

**2. DataFrame**

- The DataFrame is essentially a Series, but with multiple columns (instead of one)
    - To show this, we'll create a new dataframe using our population series above, combined with a new Series

In [15]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [17]:
df_states = pd.DataFrame({'population': population,
                       'area': area})
df_states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [18]:
df_states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [19]:
df_states.columns

Index(['population', 'area'], dtype='object')

- Again, there are many ways to construct a DataFrame

E.g. 1: from a **Series**

In [20]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

E.g. 2: from a **list of dictionaries**

In [21]:
data = [{'a': i, 'b': 2 * i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

- **Note**: even if some keys in the dictionary don't exist, the cells will be left empty (i.e. NaNs)

In [22]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

E.g. 3: From a **dictionary of Series**

In [23]:
pd.DataFrame({'population': population, 'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

E.g. 4: From a **2-dimensional numpy array**

In [24]:
pd.DataFrame(np.random.rand(3, 2), columns=['foo', 'bar'], index=['a', 'b', 'c'])

        foo       bar
a  0.020845  0.907831
b  0.240458  0.861403
c  0.165939  0.093929

____

**3. Index**

- This object can be thought of as:
    1. an immutable array
    2. ordered set

In [25]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

As an immutable array

- This means we can treat it like a regular array

In [26]:
ind[1]

3

In [27]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

- They also have similar properties to a numpy array

In [32]:
ind.size, ind.shape, ind.dtype

(5, (5,), dtype('int64'))

- But since the index is **immutable**, we can't modify the elements
    - This differs from numpy arrays, since we can modify its elements

In [33]:
ind[1] = 0

TypeError: Index does not support mutable operations

As an ordered set

- It's common to join and merge DataFrames, which requires that we can perform operations on the index

In [34]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

$ A \cap B $

In [37]:
indA & indB

Int64Index([3, 5, 7], dtype='int64')

$ A \cup B$

In [38]:
indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

$A^{C} \cap B^{C}$

In [39]:
indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')