# Introduction

- We typically assume that the volatility of returns for a security is a good measurement of risk
    - The standard deviation or variance are both good measures of volatility
        - The term "volatility" often refers to standard deviation

- If we model returns using a normal distribution, it will treat a positive deviation similarly to a negative deviation because the distribution is symmetrical
    - This goes against our conventional wisdom; a negative deviation has a bigger impact than a positive deviation of the same amount
        - To account for this asymmetry, the **Sortino measure** suggests a lower partial deviation

- Another assumption for the basic measurement of volatility is that it is constant over time
    - This is not true; periods of high/low volatility are sticky but not constant
        - To account for the inconsistency, we can use the **Auto Regressive Conditional Heteroskedasticity (ARCH)** process
            - This process is expanded further using the **Generalized Auto Regressive Conditional Heteroskedasticity (GARCH)** process

_____

# Conventional volatility measure - standard deviation

- The term *volatility* usually refers to the standard deviation of returns for a security
    - E.g. "The volatility of IBM is 20%" means the annualized standard deviation for the returns of IBM's stock was 0.2

- Let's calculate the volatility for acutal IBM data

In [6]:
import pandas as pd
import numpy as np
import fix_yahoo_finance as yf

In [7]:
df_IBM = yf.download('IBM', start = '2009-01-01', end='2013-12-31')

[*********************100%***********************]  1 of 1 downloaded

In [9]:
df_IBM.head()

                 Open       High        Low      Close  Adj Close   Volume
Date
2009-01-02  83.889999  87.589996  83.889999  87.370003  66.577576  7558200
2009-01-05  86.419998  87.669998  86.180000  86.820000  66.158447  8315700
2009-01-06  87.110001  90.410004  86.370003  89.230003  67.994942  9649500
2009-01-07  87.830002  88.800003  87.120003  87.790001  66.897629  8455100
2009-01-08  87.809998  88.139999  85.980003  87.180000  66.432793  7231800

- Calculating returns

In [16]:
df_IBM['return'] = df_IBM['Adj Close'].shift(1)/df_IBM['Adj Close']-1

### Aside

- Recall that if we have $n$ observations of daily returns, then the mean daily return is $\frac{\sum{r_{i}}}{n}$
    - Similarly, the standard error of the mean is equal to $\frac{\sigma_{r}}{\sqrt{n}}$

- In this scenario, we can calculate the standard error of the mean by simply calculating the $\sigma$ of our return column
    - Therefore, to calculate the volatility of returns, we need to multiply the standard error by $\sqrt{n}$
    
- We'll assume that there are 252 trading days in a year

In [17]:
standard_error = np.std(df_IBM['return'])
volatility = standard_error*np.sqrt(252)

In [18]:
volatility

0.20868237077512763

- So, based on this data, we could say that the volatility of IBM over the 5-year period was about 21%